.doc{
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px 0 0;
  border: 1px solid #e0e0e0;
  flex-direction: column;
  width: 66.5%;
  margin: 10px 0;
  position: relative;

  &__header{
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 30px 20px;

    &-rating{
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 15px;
      top: 15px;

      &-content{
        display: flex;
      }

      &-value{
        font-size: 17px;
      }

      &-text{
        margin-right: 4px;
        font-size: 16px;
        font-family: 'ProximaNova-SemiBold',sans-serif;
      }

      &-reviews{
        text-align: center;
        line-height: 14px;
        margin-top: 3px;
        color: #2a87d0;
      }
    }

    &-img{
      margin-right: 30px;
      text-align: center;
      width: 150px;
      height: 150px;
      position: relative;
    }

    &-content{
      display: flex;
      flex-direction: column;

      &-name{
        text-decoration: none;
        transition: all 0.2s;
        cursor: pointer;
        display: inline;
        font-size: 26px;
        line-height: 32px;
        font-weight: 600;
        color: #1e88e5;

        &:hover{
          color: rgba(30, 136, 229, 0.75);
        }
      }

      &-type{
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #212121;
      }

      &-status{
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #818181;
      }
    }
  }

  &__info{
    display: flex;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    padding-right: 50px;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    justify-content: space-between;

    &-clinic{
      display: flex;
      flex-direction: column;

      &-location{
        display: flex;

        &-text{
          color: #212121;
        }
        &-link{
          color: #818181;
        }

        &-metroText{
          color: #212121;
          font-size: 14px;
          line-height: 17px;
          font-weight: 400;
        }
        &-metroLink{
          color: #325da4;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600;
        }
      }

      &-name{
        margin-bottom: 12px;
        display: inline-block;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
      }
      &-type{
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        color: #212121;
      }
    }

    &-price{
      display: flex;
      align-items: center;

      &-text{
        font-size: 20px;
        font-weight: bold;
        color: #212121;
        margin-right: 15px;
      }
      &-button{
        transition: all 0.2s;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: #212121;
        font-family: ProximaNova;
        @extend %form-btn;
        width: 200px;
      }
    }
  }

}