// --- Color ----
// --- Color ----
$main-color: #1d3156;
$hover-color: #324464;
$main-border-color: #0f264f;
$text-color: #1b1b1b;
$extra-color: #ffffff;
$note-title-color: #4a4a4a;
$note-footer-color: #969dac;
$note-footer-color-danger: #ffaab4;
$note-footer-color-normal: #b8e986;
$note-footer-color-attention: #ffd552;
$note-footer-color-blue: #aed5ff;
$note-pinned-color: #bfbfbf;
$bg-color: #f4f7fa;
$extra-bg-color: #fcfcfc;
$element-color: #ffc410;
$extra-element-color: #f2c028;
$element-bg-color: #eeeeee;
$extra-blue-color: #fafcff;
$icon-color: #b2bbc6;
$extra-icon-color: #cecece;
$tip-color: #ffafb9;
$add-btn-bg-color: #4da1ff;
$add-btn-bg-color-hover: #68b3ff;

$small-button-bg-color: #eff7ff;

$extra-border-color: #f1f1f1;
$nonactive-text-color: #9b9b9b;
$active-text-color: #3d464d;
$nonactive-input-bg-color: #fdfdfd;
$hover-element-color: #ffe34e;

$color-develop: #ffbdc5;
$color-active: #b8e986;
$color-closed: #75b5ff;
$color-stopped: #d5d5d5;

$line-color: rgba(60, 70, 71, 0.6);

// ------ tag ---------
$tag-color: #0071e6;
$tag-border: 1px solid rgba(0, 126, 255, 0.24);


$error-color: #ff1400;

$shadow-1: 0 0 40px 2px rgba(255, 255, 255, 0.6);
$shadow-2: 1px 5px 30px 0 #ccd0d9, inset 0 -1px 0 0 #ebebeb;
$shadow-3: 0 -3px 4px 0 rgba(184, 184, 184, 0.5);
$shadow-4: 0 2px 9px 0 rgba(0, 0, 0, 0.03);





// ----- position ------

$center: 0 auto;

// ------ params ----
$border-radius: 5px;
$border-radius-2: 4px;
$menu-border-radius: 0 0 5px 5px;
$border: 2px solid $extra-border-color;
$header-height: 55px;

// ---- font ------
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-family-notes: 'Fira Sans', sans-serif;

$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-normal: 500;

$font-size-very-large: 38px;
$font-size-larger: 24px;
$font-size-large: 22px;
$font-size-middle: 18px;
$font-size-small: 16px;
$font-size-smaller: 14px;
$font-size-extra-small: 13px;

$font-size-error-text: 12px;

$font-size-close-button: 8px;

// ----- placeholder ---
$placeholder-color: #dddcdc;
$font-placeholder: $font-weight-normal 15px/1.57 sans-serif;

// ----- screens ------
$small-screens: 479px;
$middle-screens: 768px;
$large-screens: 993px;
$extra-screens: 820px;

// ---- z-index -----
$z-index-header-clients: 3;
$z-index-header-menu: 2;
$z-index-header: 4;
$z-index-notification: 20;
$z-index-overlay: 11;
$z-index-loader: 6;
