@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.woff") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: $font-weight-normal;
  font-style: normal;
}
