/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.topheader__menu {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box; }
  .topheader__menu-posibilities, .topheader__menu-navigation {
    display: flex; }
  .topheader__menu-item {
    transition: all 0.2s;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 25px 0;
    margin: 0 30px; }

.topheader__info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 7px 30px 7px;
  text-align: center;
  height: 65px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; }
  .topheader__info-logo {
    height: 50px;
    width: 118px; }
  .topheader__info-call, .topheader__info-search {
    display: flex;
    margin: 0 10px;
    align-items: center; }
    .topheader__info-call-item, .topheader__info-search-item {
      margin: 10px; }
    .topheader__info-call-form, .topheader__info-search-form {
      background: #e0e0e0 97% center no-repeat;
      border-radius: 100px;
      padding: 5px 30px 5px 12px;
      color: #212121;
      float: left;
      position: relative;
      top: 7px;
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
      margin-right: 10px;
      cursor: pointer; }

.home__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("https://ucarecdn.com/42d1eb1b-85bc-446f-ba5c-6ff10bafeb9d/screen_main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 500px;
  padding-top: 54px; }

.home__search {
  display: inline-block;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-position: 20px center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px;
  width: 50%;
  outline: none;
  -webkit-appearance: none;
  color: #212121; }

.home__popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }
  .home__popular-text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 12px; }
  .home__popular-list {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center; }
    .home__popular-list-item {
      display: inline-block;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      padding: 5px 20px;
      border-radius: 100px;
      background-color: #0F86E8;
      margin-right: 10px;
      margin-top: 5px;
      transition: 0.2s;
      cursor: pointer;
      margin-bottom: 5px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8); }

.main__welcome {
  padding: 45px 50px 35px;
  text-align: left; }

.main__welcome, .main__greet {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  text-align: center; }

.main__subtitle {
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
  display: inline-block;
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center; }

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }
