@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.array-form__add-button {
  text-decoration: none;
  color: #1b1b1b;
  cursor: pointer; }

.array-form__add-button:hover {
  text-decoration: underline;
  color: #ffc410; }

.login-form__input, .registration-form__input {
  outline: none;
  background: #fdfdfd;
  transition: background 0.3s ease-in-out; }
  .login-form__input .header__input::-webkit-input-placeholder, .registration-form__input .header__input::-webkit-input-placeholder {
    color: #9b9b9b;
    font-size: 14px; }
  .login-form__input .header__input:-moz-placeholder, .registration-form__input .header__input:-moz-placeholder {
    color: #9b9b9b;
    font-size: 14px; }
  .login-form__input .header__input::-moz-placeholder, .registration-form__input .header__input::-moz-placeholder {
    color: #9b9b9b;
    font-size: 14px; }
  .login-form__input .header__input:-ms-input-placeholder, .registration-form__input .header__input:-ms-input-placeholder {
    color: #9b9b9b;
    font-size: 14px; }
  .login-form__input:focus, .registration-form__input:focus {
    background: #ffffff; }

.file-form__blackout {
  display: flex;
  height: 100%;
  width: 100%; }

.login-form__btn, .registration-form__btn {
  border: 2px solid #ffc410;
  background-color: #ffc410;
  transition: all 0.3s ease-in-out; }
  .login-form__btn:hover, .registration-form__btn:hover {
    background: none;
    border-color: #0f264f; }

.file-form__blackout {
  position: absolute;
  z-index: 11;
  background-color: rgba(238, 241, 247, 0.8); }

body {
  box-sizing: border-box;
  font-family: 'ProximeNova', sans-serif;
  min-width: 1300px; }

.file-form__blackout {
  overflow: auto; }

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.woff") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "ProximeNova";
  src: url("../fonts/ProximaNova-Light.woff") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

.star-full:before, .form__close:before, .array-form__delete-button:before, .star-empty:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.star-full:before {
  content: ""; }

.form__close:before, .array-form__delete-button:before {
  content: ""; }

.star-empty:before {
  content: ""; }

.star-full {
  color: #ffc410; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.topheader__menu {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box; }
  .topheader__menu-posibilities, .topheader__menu-navigation {
    display: flex; }
  .topheader__menu-item {
    transition: all 0.2s;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 25px 0;
    margin: 0 30px; }

.topheader__info {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 7px 30px 7px;
  text-align: center;
  height: 65px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; }
  .topheader__info-logo {
    height: 50px;
    width: 118px; }
  .topheader__info-call, .topheader__info-search {
    display: flex;
    margin: 0 10px;
    align-items: center; }
    .topheader__info-call-item, .topheader__info-search-item {
      margin: 10px; }
    .topheader__info-call-form, .topheader__info-search-form {
      background: #e0e0e0 97% center no-repeat;
      border-radius: 100px;
      padding: 5px 30px 5px 12px;
      color: #212121;
      float: left;
      position: relative;
      top: 7px;
      font-size: 13px;
      line-height: 16px;
      font-weight: 600;
      margin-right: 10px;
      cursor: pointer; }

.doc {
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px 0 0;
  border: 1px solid #e0e0e0;
  flex-direction: column;
  width: 66.5%;
  margin: 10px 0; }
  .doc__header {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 30px 20px; }
    .doc__header-img {
      margin-right: 30px;
      text-align: center;
      width: 100px;
      position: relative; }
    .doc__header-content {
      display: flex;
      flex-direction: column; }
      .doc__header-content-name {
        text-decoration: none;
        transition: all 0.2s;
        cursor: pointer;
        display: inline;
        font-size: 26px;
        line-height: 32px;
        font-weight: 600;
        color: #1e88e5; }
      .doc__header-content-type {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #212121; }
      .doc__header-content-status {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #818181; }
  .doc__info {
    display: flex;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    padding-right: 150px;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .doc__info-clinic {
      display: flex;
      flex-direction: column; }
      .doc__info-clinic-location {
        display: flex; }
        .doc__info-clinic-location-text {
          color: #212121; }
        .doc__info-clinic-location-link {
          color: #818181; }
        .doc__info-clinic-location-metroText {
          color: #212121;
          font-size: 14px;
          line-height: 17px;
          font-weight: 400; }
        .doc__info-clinic-location-metroLink {
          color: #325da4;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600; }
      .doc__info-clinic-name {
        margin-bottom: 12px;
        display: inline-block;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600; }
      .doc__info-clinic-type {
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        color: #212121; }
    .doc__info-price {
      display: flex; }
      .doc__info-price-text {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: #212121;
        text-align: right;
        top: 0;
        display: inline-block;
        right: 0;
        position: relative; }
      .doc__info-price-button {
        padding: 0 20px;
        color: #fff;
        background-color: #82C933;
        transition: all 0.2s;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        line-height: 40px;
        font-weight: 400;
        height: 40px;
        /* color: #ffffff; */
        border-radius: 3px;
        position: relative;
        /* bottom: 10px; */
        margin-left: 15px;
        text-decoration: none; }

.react-datepicker-wrapper {
  width: 100%; }

.react-datepicker__input-container {
  width: 100%; }

.doc__list {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.doctors {
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #ececec;
  height: 100%;
  min-height: 756px;
  position: relative;
  padding-bottom: 90px;
  z-index: 0; }

.home__main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("https://ucarecdn.com/42d1eb1b-85bc-446f-ba5c-6ff10bafeb9d/screen_main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 500px;
  padding-top: 54px; }

.home__search {
  display: inline-block;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  background-position: 20px center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px;
  width: 50%;
  outline: none;
  -webkit-appearance: none;
  color: #212121; }

.home__popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }
  .home__popular-text {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 12px; }
  .home__popular-list {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: center; }
    .home__popular-list-item {
      display: inline-block;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      padding: 5px 20px;
      border-radius: 100px;
      background-color: #0F86E8;
      margin-right: 10px;
      margin-top: 5px;
      transition: 0.2s;
      cursor: pointer;
      margin-bottom: 5px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8); }

.main__welcome {
  padding: 45px 50px 35px;
  text-align: left; }

.main__welcome, .main__greet {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  text-align: center; }

.main__subtitle {
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
  display: inline-block;
  width: 80%;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center; }

.form__wrapper {
  position: relative; }

.form__block {
  width: 48%;
  height: 590px;
  box-sizing: border-box;
  overflow: auto; }
  .form__block_left {
    float: left; }
  .form__block_right {
    float: right; }

.form__close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 14px; }
  .form__close-preview {
    top: 5px;
    right: 5px;
    z-index: 10; }
  .form__close-note {
    top: 5px;
    right: 5px;
    z-index: 10; }

.form__collapse {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  margin: 10px 3px 0 0;
  cursor: pointer; }
  .form__collapse::after {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    margin: 14px 0 0 1px;
    cursor: pointer;
    border-radius: 4px;
    background: #ffc410; }

.form__dropdown-item {
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  color: #3d464d;
  letter-spacing: 1px; }
  .form__dropdown-item_highlighted {
    background-color: #eeeeee; }
  .form__dropdown-item_selected {
    background-color: #9b9b9b; }

.login-form, .registration-form {
  position: relative;
  max-height: calc(100% - 100px);
  overflow: auto;
  margin: auto;
  padding: 10px 34px 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #ffffff; }

.form-item {
  padding: 1px 0; }
  .form-item__disabled {
    display: none; }
  .form-item__active {
    display: inline-block; }

.login-form__input, .registration-form__input {
  box-sizing: border-box;
  height: 47px;
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 14px;
  line-height: 27px; }

.login-form__btn, .registration-form__btn {
  display: block;
  box-sizing: border-box;
  text-align: center;
  height: 46px;
  line-height: 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  outline: none; }

.login-form__title, .registration-form__title {
  margin: 20px 0 10px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  text-align: center; }

.login-form__input-error, .registration-form__input-error {
  position: absolute;
  top: 50px;
  color: #ff1400;
  font-size: 12px; }

.array-form__form-block {
  position: relative; }

.array-form__delete-button {
  outline: none;
  border: none;
  background: none;
  position: absolute;
  right: 14px;
  top: 18px;
  cursor: pointer;
  font-size: 9px; }

.array-form__add-button {
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px; }

.login-form {
  width: 300px; }

.login-form__title {
  text-align: left; }

.login-form__label {
  font-size: 14px;
  margin: 21px 0 8px; }

.login-form__input {
  width: 300px; }

.login-form__btn {
  width: 200px;
  margin: 40px auto 0; }

.registration-form {
  width: 300px; }

.registration-form__title {
  text-align: left; }

.registration-form__label {
  font-size: 14px;
  margin: 21px 0 8px; }

.registration-form__input {
  width: 300px; }

.registration-form__btn {
  width: 200px;
  margin: 40px auto 0; }
