.appoinment-form {
  @extend %form;
  width: 300px;
}

.appoinment-form__title {
  @extend %form-title;
  text-align: left;
}

.appoinment-form__label {
  font-size: $font-size-smaller;
  margin: 21px 0 8px;
}

.appoinment-form__input {
  @extend %input;
  @extend %input-color;
  width: 300px;
}

.appoinment-form__btn  {
  @extend %form-btn;
  width: 200px;
  margin: 40px auto 0;
}

.appoinment-form__input-error {
  @extend %form-error;
}