.topheader{
  &__menu{
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding-left: 30px;

    &-posibilities,&-navigation{
      display: flex;
    }

    &-item{

      &>a{
        ransition: all 0.2s;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        display: block;
        text-decoration: none;
        color: #212121;
      }
      padding: 25px 0;
      margin-right: 30px;
    }
  }

  &__info{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 7px 30px 7px;
    text-align: center;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    &-logo{
      height: 50px;
      width: 118px;

    }

    &-call,&-search{
      display: flex;
      margin: 0 10px;
      align-items: center;

      &-item{
        margin: 10px;
      }
      &-form{
        background: #e0e0e0 97% center no-repeat;
        border-radius: 100px;
        padding: 5px 30px 5px 12px;
        color: #212121;
        float: left;
        position: relative;
        top: 7px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 600;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}