body{
  box-sizing: border-box;
  min-width: 1300px;
  overflow-y: auto;
}

.file-form__blackout {
  @extend %overlay;
  overflow: auto;
}

span, h1, h2,h3,h4,a{
  font-family: 'ProximaNova', sans-serif !important;
}

.active{
  border-bottom: 2px solid #E1312F;
}

